@{
    ViewBag.Title = "GAB 2018 Mauritius";
}

<div class="w-100 h-100 text-center">
    <div class="cs-download">
        <div class="overlay"></div>
        @*<button class="btn btn-primary"><i class="fa fa-download mr-2"></i>DOWNLOAD APK</button>*@
        <h1 class="text-white title">WELCOME TO GAB MAURITIUS 2018</h1>
    </div>
</div>